:global {
  html {
    box-sizing: border-box;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #eaeaea;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  .appHeader {
    font-family: 'Lobster', cursive;
    margin: 25px 0;
  }
}
